 .card {
  height: 100%; 
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-img-top {
    height: 200px; 
    object-fit: cover; 
  }

  .card-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }

  .card-text {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  .details-button {
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 5px 15px 0 rgba(11, 99, 246, 1);
    transition: 0.5s;
    transform: translate(0,-3px);
    box-shadow: 0 20px 40px 0 rgba(11, 99, 246, 1);


    &:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
  }
} 




