.hero-section {
	  background: url('../../src/assets/img/ventilyatsiya2.jpg') no-repeat center center/cover;
	  min-height: 60vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}