	.hero-section {
	  background: url('../../src/assets/img/ventilyatsiya2.jpg') no-repeat center center/cover;
	  min-height: 60vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	
	.hero-section h1 {
	  font-size: 3.5rem;
	  margin-bottom: 20px;
	  color: rgb(13, 67, 42);
	}
	
	.cta-section {
	  background-color: #d36ec6;
	}
	
	.custom-section {
	  padding: 4rem 0;
	
	}
	h1 {
    color: blue;
	}

	.id1 {
		background: url('../assets/img/Вентилятор YWF-4-E.jpeg');

	}
